<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Title</title>
</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header th:replace="layout :: header"></header>

    <div class="site-cover site-cover-sm same-height overlay single-page"
         style="background-image: url('#');" th:style="'background-image: url('+${postSelected.imageLink}+');'">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <span class="post-category text-white bg-success mb-3"
                              th:text="${{postSelected.category}}">Chủ đề ở đây</span>
                        <h1 class="mb-4" th:text="${postSelected.title}">Title ở đây</h1>
                        <div class="post-meta align-items-center text-center">
                            <span class="d-inline-block mt-1"
                                  th:text="${postSelected.author.name}">Tác giả ở đây</span>
                            <span th:text="'  ' + ${#dates.format(postSelected.createTime,'dd-MM-yyyy')}">Ngày post ở đây</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="site-section py-lg">
        <div class="container">

            <div class="row post-entries element-animate">

                <div class="col-md-12 col-lg-8 main-content">

                    <div class="post-content-body">
                        <p th:text="${postSelected.content}"></p>
                    </div>

                    <div class="pt-5">
                        <p>Chủ đề:
                            <a th:href="@{/category/{id}(id=${postSelected.category.id})}"
                               th:text="${{postSelected.category}}">
                            </a>
                        </p>
                    </div>

                </div>

                <!-- END main-content -->

                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" id="s"
                                       placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <div class="bio text-center">
                            <img th:src="${postSelected.author.imageLink}" alt="Image Placeholder"
                                 class="img-fluid mb-5">
                            <div class="bio-body">
                                <h2 th:text="${postSelected.author.name}">Chỗ này là tên tác giả</h2>
                                <p class="mb-4" th:text="${postSelected.author.bio}">Chỗ này là bio tác giả</p>
                                <p class="social" hidden>
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END sidebar-box -->
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Dòng thời gian</h3>
                        <ul class="list-group">
                            <th:block th:each="entry : ${datePostMap.entrySet()}">
                                <li class="list-group-item ca">
                                    <a class="nav-link"
                                       th:href="@{/date/{range}(range=${entry.getKey().getValue()})}"
                                       th:text="${entry.getKey()}">Năm ở đây</a>
                                    <ul class="list-group">
                                        <th:block th:each="month : ${entry.getValue()}">
                                            <li class="list-group-item">
                                                <a class="nav-link"
                                                   th:href="@{/date/{range}(range=${entry.getKey()}+'-'+${month.getValue()})}"
                                                   th:text="${{month}}">Tháng ở đây</a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </li>
                                <!--                                <th:block>-->
                                <!--                                    <ul th:each="month : ${}"></ul>-->
                                <!--                                </th:block>-->
                                <!--                                <li><a th:href="@{/}" th:text="${date.getYear()}"></a>-->
                                <!--                                    <a th:href="@{/month(range=${date.getYear()}+'-'+${date.getMonthValue()})}"-->
                                <!--                                       th:text="${date}">Tên tháng ở đây<span>(Số lượng bài viết ở đây)</span></a>-->
                                <!--                                </li>-->
                            </th:block>
                        </ul>
                    </div>
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Chủ đề</h3>
                        <ul class="tags">
                            <th:block th:each="category:${categoryList}">
                                <li>
                                    <a th:href="@{/category/{id}(id=${category.id})}"
                                       th:text="${{category}}">Tên Chủ đề ở đây</a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <!-- END sidebar -->

            </div>
        </div>
    </section>

    <div th:replace="layout :: footer"></div>

</div>

<div th:replace="layout :: script"></div>

</body>
</html>