<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: head">
    <title>Title</title>
</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header th:replace="layout :: header"></header>

    <div class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <h2 th:text="${headerTitle}">Bài viết gần đây</h2>
                </div>
            </div>

            <div class="row">
                <th:block th:each="post : ${postPage.getContent()}">
                    <div class="col-lg-4 mb-4">
                        <div class="entry2">
                            <a th:href="@{/post/__${post.id}__}">
                                <img th:src="${post.imageLink}" alt="Image"
                                     class="img-fluid rounded" src="">
                            </a>
                            <div class="excerpt">
                                <span class="post-category text-white bg-secondary mb-3"
                                      th:text="${{post.category}}">Chỗ này là chủ đề
                                </span>
                                <h2>
                                    <a th:href="@{/post/__${post.id}__}"
                                       th:text="${post.title}">Chỗ này là tiêu đề
                                    </a>
                                </h2>
                                <div class="post-meta align-items-center text-left clearfix">
                                    <span class="d-inline-block mt-1">Viết bởi
                                        <a href="#" th:text="${post.author.name}">Chỗ này là tác giả
                                        </a>
                                    </span>
                                    <span th:text="'  ' + ${#dates.format(post.createTime,'dd-MM-yyyy')}">Chỗ này là ngày tháng</span>
                                </div>
                                <p th:text="${post.content}">Chỗ này viết tóm tắt</p>
                                <p><a th:href="@{/post/__${post.id}__}">Đọc thêm</a></p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

            <div class="row text-center pt-5 border-top">
                <div class="col-md-12">
                    <div class="custom-pagination">
                        <th:block th:each="pageNum : ${#numbers.sequence(1, postPage.totalPages)}">
                            <a th:href="@{/__${controller}__(page=${pageNum})}"
                               th:text="${pageNum}"></a>
                        </th:block>
                        <span>...</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div th:replace="layout :: footer"></div>

</div>

<div th:replace="layout :: script"></div>

</body>
</html>